<div class="well">
  <div class="page-header"><h1>Genres</h1></div>
  <% @genres.each do |genre| %>
    <h5><%= link_to genre.name, genre_path(genre) %></h5>
    <p><%= genre.description %></p>
  <% end %>
</div>