<div class="well">
  <div class="page-header">
    <%= "#{@song.artist.name} - #{@song.name} (#{@song.durability_in_time})" %>
  </div>
  <div class="song-body">
    Composition from album: <%= link_to @song.album.name, artist_album_path(@song.artist, @song.album) %>
    <br/>
    Video from YouTube: (Beta)
  </div>
</div>
