@import "twitter/bootstrap";
@import "variables";
@import "bootswatch";

.navbar-search {
  input[type="email"], input[type="password"] {
    margin-bottom: 0px;
  }
}

.well {
  border-radius: 10px;
}

.container {
  width:  1030px;
}

input, textarea, select {
  color: #52575c;
}

.album_songs {
  margin-top: 15px;
}