<div class="pull-right btn-group">
  <button class="btn"><%= current_user.user_name %></button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to 'Profile', user_path(current_user) %></li>
    <li><%= link_to 'New review' %></li>
    <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
  </ul>

</div>